h2 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}

label {
    color: rgb(255, 255, 255);
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #4e4e52;

}

form {
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
    font-weight: bold;
    margin-bottom: 5px;
}

.usernameInput {
    padding: 12px 20px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    width: 89%;
}

input[type="text"],
input[type="password"] {
    padding: 12px 20px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    width: 89%;
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.signup {
    text-align: center;
    margin-top: 20px;
    color: white;

}

.signup-button {
    background-color: rgb(18, 93, 18);
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}